<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Projects
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row-fluid">
            <div class="span8 offset1">
        		<input type="text" class="form-control project-search" placeholder="Find a project" />
        	</div>
        </div>
        <br/>
        <div class="row-fluid">
            <div class="span8 offset1">
          		<div class = "projects-list">
          			<table class="table">
          			  <th>Project</th>
          			  <th>Customer</th>
          			  <th>Documentation</th>
          			  <% @libraries.each do |library| %>
          			    <tr/>
          			    <td><%= library[:name] %></td>
          			    <td><%= library[:customer] %></td>
          			    <td>
                      <% if library[:url].empty? %>
                        No url provided
                      <% else %>
                       <%= link_to 'URL', library[:url], :target => "_blank"%>
                      <% end %>
                     </td>
          			  <% end %>
          			</table>
          		</div>
          	</div>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Javadoc syntax
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>The following is a sample javadoc that is inserted before a procedure or a function. It's a small description
          about what the function does, and uses supported tags that are shown in the documentation
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #888888">{*------------------------------------------------------------------------------</span>
<span style="color: #888888">  Procedure to make ReadOnly the CusId field of the Master dataset</span>
<span style="color: #888888">  @param RO States if the field will be ReadOnly</span>
<span style="color: #888888">-------------------------------------------------------------------------------}</span>
<span style="color: #008800; font-weight: bold">procedure</span> <span style="color: #BB0066; font-weight: bold">TInternationalPrAddDiscDM</span><span style="color: #333333">.</span><span style="color: #0066BB; font-weight: bold">MakeCusFieldRO</span>(RO<span style="color: #333333">:</span> <span style="color: #333399; font-weight: bold">Boolean</span>)<span style="color: #333333">;</span>
<span style="color: #008800; font-weight: bold">begin</span>
  Master<span style="color: #333333">.</span>FieldByName(<span style="background-color: #fff0f0">&#39;CUSID&#39;</span>)<span style="color: #333333">.</span>ReadOnly <span style="color: #333333">:=</span> RO<span style="color: #333333">;</span>
<span style="color: #008800; font-weight: bold">end</span><span style="color: #333333">;</span>
</pre></div>


        </p>
        <p>List of supported tags
          <pre>
            <code>
@author - Author of the procedure
@param - Description of each parameter
@return - Description of the return value
            </code>
          </pre>
        </p>
        <p>For more information see <a href = "http://dephicodetodoc.sourceforge.net/JavaDoc_Syntax.htm", target="_blank">DelphiCodeToDoc Javadoc syntax</a></p>
      </div>
    </div>
  </div>
</div>
