<!DOCTYPE html>
<html>
<head>
  <title>Orosimo Software Source Documentation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row-fluid">
    <div class="span8 offset1">
      <div class="jumbotron">
        <div class="text-center">
          <img src="/images/new-orosimo-logo.jpg">
          <h2>Source documentation</h2>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
